* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

.nav{
  background-color: rgba(0, 187, 255, 0.582);
  padding: 20px;
}

.app{
  background-color: black;
  color: white;
}
